/* Have fun. This is your site. */

body{
  background: rgb(46, 66, 66);
}

h1{
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: rgb(219, 219, 219);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}

.bio-box {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}

.image{
  border-radius: 3px;
  border-color: rgb(86, 86, 86);
}
